{% extends 'layout.html' %}
{% load static %}

{% block body %}
  <body class="layout-fixed sidebar-expand-lg sidebar-mini sidebar-collapse bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper"><!--estoy contiene lo que es las bases de la plantilla su header footer y esaas cosas sidebar tambien-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">



     
      {% include 'sidebar.html' %}
   
 
      {% block content %}{% endblock %}
 
   
    </div>

  </body>
  
<!--Esto incluye el codigo para poder mostrar en la pagina el boton de accesiibildad-->
{% include "boton_widgetAccesibilidad.html" %}



{% endblock %}