{% extends 'layout.html' %}
{% load static %}

{% block body %}
<body class="layout-fixed sidebar-expand-lg sidebar-mini sidebar-collapse bg-body-tertiary">
    <div class="app-wrapper">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% include 'sidebar.html' %}

        {% block content %}{% endblock %}
    </div>

    {% include "boton_widgetAccesibilidad.html" %}

<script>
    const toggle = document.getElementById('mode-toggle');
    if (toggle) {
        toggle.addEventListener('change', () => {
            document.body.classList.toggle('dark-mode');
            
            const text = document.getElementById('mode-text');
            const icon = document.getElementById('mode-icon');
            
            if (toggle.checked) {
                if(text) text.textContent = "oscuro";
                if(icon) icon.classList.replace('bi-brightness-high', 'bi-moon-stars');
            } else {
                if(text) text.textContent = "claro";
                if(icon) icon.classList.replace('bi-moon-stars', 'bi-brightness-high');
            }
        });
    }
</script>
</body>
{% endblock %}
