<div class="asw-widget">
  <div class="asw-menu-btn">
    <svg>...</svg>
  </div>
  <div class="asw-menu">
    <div class="asw-menu-header">
      <div>Accesibilidad</div>
      <div role="button">✕</div>
    </div>
    <div class="asw-menu-content">
      <ul class="asw-items">
        <li class="asw-btn"><span class="material-icons">text_fields</span> Fuente Legible</li>
        <li class="asw-btn"><span class="material-icons">contrast</span> Alto Contraste</li>
        <!-- ... otros botones -->
      </ul>
    </div>
    <div class="asw-footer">
      <a href="#">Más información</a>
    </div>
  </div>
</div>