      <footer class="app-footer">
        <!--begin::To the end-->
        <div class="float-end d-none d-sm-inline">  Proyecto_sena &copy; 2025&nbsp;</div>
        <!--end::To the end-->
        <!--begin::Copyright-->
        <strong>
          
          <a href="https://wa.me/573125338803?text=Hola,%20me%20gustaría%20más%20información%20sobre%20el%20producto%20A" 
          class="text-decoration-none">necesitas ayuda? escribenos! estamos pendientes a tus necesidades </a>.
        </strong>
        Servicio con calidad
        <!--end::Copyright-->
      </footer>