{% load static %}
<nav class="app-header navbar navbar-expand bg-body">
        <!--begin::Container-->
        <div class="container-fluid">
          <!--begin::Start Navbar Links-->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                <i class="bi bi-list"></i>
              </a>
            </li>
            <li class="nav-item d-none d-md-block">
              <a href="https://wa.me/573125338803?text=Hola,%20me%20gustaría%20más%20información%20sobre%20el%20producto%20A" 
                target="_blank" 
                class="btn btn-primary"><i class="bi bi-whatsapp"></i>&nbsp;Contáctanos por WhatsApp</a>
                        
            </li>

          </ul>
    
          <ul class="navbar-nav ms-auto">
            <!--begin::Navbar Search-->
            <li class="nav-item"></li>
            <!--end::Navbar Search-->
 <li class="nav-item d-flex align-items-center me-2">
    <input type="checkbox" id="mode-toggle" style="display: none;">
    <label for="mode-toggle" class="switch-label">
        <div class="ball">
            <i id="mode-icon" class="bi bi-brightness-high"></i>
        </div>
        <span class="status-text" id="mode-text">claro</span>
    </label>
</li>

            

            <!--begin::Fullscreen Toggle-->
            <li class="nav-item">
              <a class="nav-link" href="#" data-lte-toggle="fullscreen">
                <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
                <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none"></i>
              </a>
            </li>
            <!--end::Fullscreen Toggle-->

            <!--begin::User Menu Dropdown-->
            <li class="nav-item dropdown user-menu">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img src="{% static 'img/gio3.png' %}"
                  class="user-image rounded-circle shadow"
                  alt="User Image"
                />
                <span class="d-none d-md-inline">Administrador</span>
              </a>
              </li>
           
                <li class="user-body">
               
                </li>
            
        </div>
    
  </nav>