{% load static %}
<aside class="app-sidebar shadow">
  <div class="sidebar-brand">
    <a href="{% url 'mi_app:principal' %}" class="brand-link">
      <img src="{% static 'img/logosara.png' %}" alt="logo de sara soluciones" class="brand-image opacity-75 shadow" />
      <span class="brand-text fw-light">Soluciones Sara <br></span>
    </a>
  </div>
  
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation" aria-label="Main navigation" data-accordion="false" id="navigation">
        
        <li class="nav-header text-uppercase text-secondary mt-2 px-3 fw-bold" style="font-size: 0.8rem;">Personas y Accesos</li>
        
        <li class="nav-item">
          <a href="{% url 'mi_app:administrador_lista' %}" class="nav-link">
            <i class="bi bi-person-badge-fill"></i>
            <p>Administradores</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:cliente_lista' %}" class="nav-link">
            <i class="bi bi-people-fill"></i>
            <p>Clientes</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:proveedor_lista' %}" class="nav-link">
            <i class="bi bi-person-vcard-fill"></i>
            <p>Proveedores</p>
          </a>
        </li>

        <li class="nav-header text-uppercase text-secondary mt-3 px-3 fw-bold" style="font-size: 0.8rem;">Operaciones comerciales</li>

        <li class="nav-item">
          <a href="{% url 'mi_app:panel_logistica' %}" class="nav-link">
            <i class="bi bi-truck"></i>
            <p>Panel Logística</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:compras_lista' %}" class="nav-link">
            <i class="bi bi-cart-check-fill"></i>
            <p>Compras</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:pedido_lista' %}" class="nav-link">
            <i class="bi bi-basket2-fill"></i>
            <p>Pedidos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:factura_lista' %}" class="nav-link">
            <i class="bi bi-receipt"></i>
            <p>Facturas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:gestionar_garantias' %}" class="nav-link">
            <i class="bi bi-shield-check"></i>
            <p>Garantías</p>
          </a>
        </li>

        <li class="nav-header text-uppercase text-secondary mt-3 px-3 fw-bold" style="font-size: 0.8rem;">Catálogo e Inventario</li>

        <li class="nav-item">
          <a href="{% url 'mi_app:producto_lista' %}" class="nav-link">
            <i class="bi bi-box-seam-fill"></i>
            <p>Productos</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:servicio_lista' %}" class="nav-link">
            <i class="bi bi-tools"></i>
            <p>Servicios</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:categoria_lista' %}" class="nav-link">
            <i class="bi bi-tags-fill"></i>
            <p>Categorías</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:marca_lista' %}" class="nav-link">
            <i class="bi bi-award-fill"></i>
            <p>Marcas</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:presentacion_lista' %}" class="nav-link">
            <i class="bi bi-aspect-ratio-fill"></i>
            <p>Presentación de Producto</p>
          </a>
        </li>

        <li class="nav-header text-uppercase text-secondary mt-3 px-3 fw-bold" style="font-size: 0.8rem;">Sistema</li>

        <li class="nav-item">
          <a href="{% url 'backups:generar_backup' %}" class="nav-link">
            <i class="bi bi-cloud-arrow-up-fill"></i>
            <p>Copias de Seguridad</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'mi_app:ayuda' %}" class="nav-link">
            <i class="fa-solid fa-circle-info"></i>
            <p>Ayuda</p>
          </a>
        </li>
        
      </ul>
    </nav>
  </div>
</aside>