{% load static %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
        <!--begin::Sidebar Brand-->
        <div class="sidebar-brand">
          <!--begin::Brand Link-->
          
          <a href="{% url 'mi_app:principal' %}" class="brand-link">
        
            <!--begin::Brand Image-->
            <img src="{% static 'img/logosara.png' %}"
              alt="logo de sara soluciones"
              class="brand-image opacity-75 shadow"
            />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">Soluciones Sara</span>
            <!--end::Brand Text-->
          </a>
          <!--end::Brand Link-->
        </div>
        <!--end::Sidebar Brand-->
        <!--begin::Sidebar Wrapper-->
        <div class="sidebar-wrapper">
          <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul
              class="nav sidebar-menu flex-column"
              data-lte-toggle="treeview"
              role="navigation"
              aria-label="Main navigation"
              data-accordion="false"
              id="navigation"
            >
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon bi bi-speedometer"></i>
                  <p>
                    modulos!
                    <i class="nav-arrow bi bi-chevron-right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">

                    <!--WIDGET BOOSTRAP-->
                    <a href="{% url 'mi_app:administrador_lista' %}" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Administradores</p>
                    </a>
                  </li>
                    <!-- Clientes -->
                    <li class="nav-item">
                     <a href="{% url 'mi_app:cliente_lista' %}" class="nav-link">
                     <i class="nav-icon bi bi-circle"></i>
                       <p>Clientes</p>
                        </a>
                      </li>
                  <li class="nav-item">
                    
                    <!--modulo proveedoreesssss-->
                    <a href="{% url 'mi_app:proveedor_lista' %}" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>proveedores</p>
                    </a>
                  </li>
                    <li class="nav-item">
                    
                      <!--modulo marca-->
                     <a href="{% url 'mi_app:marca_lista' %}" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Marca</p>
                      </a>
                    </li>
                       <li class="nav-item">
                    
                     <!--modulo presentacion-->
                     <a href="{% url 'mi_app:presentacion_lista' %}" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>Presentacion de prodcuto</p>
                      </a>
                     </li>
                                <li class="nav-item">
                    
                     <!--modulo categoria-->
                     <a href="{% url 'mi_app:categoria_lista' %}" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                      <p>categoria</p>
                      </a>
                     </li>
                     <!--modulo factura-->
                     <li class="nav-item">
                     <a href="{% url 'mi_app:factura_lista' %}" class="nav-link">
                     <i class="nav-icon bi bi-circle"></i>
                       <p>Factura</p>
                        </a>
                      </li>
                     <!--modulo garantia-->
                      <li class="nav-item">
                     <a href="{% url 'mi_app:garantia_lista' %}" class="nav-link">
                     <i class="nav-icon bi bi-circle"></i>
                       <p>Garantias</p>
                        </a>
                      </li>
                      <!--modulo pedido-->
                      <li class="nav-item">
                     <a href="{% url 'mi_app:pedido_lista' %}" class="nav-link">
                     <i class="nav-icon bi bi-circle"></i>
                       <p>Pedidos</p>
                        </a>
                      </li>

                      <!--modulo ventas-->
                      <li class="nav-item">
                     <a href="{% url 'mi_app:ventas_lista' %}" class="nav-link">
                     <i class="nav-icon bi bi-circle"></i>
                       <p>Ventas</p>
                        </a>
                      </li>

                      <!--modulo productos-->
                      <li class="nav-item">
                      <a href="{% url 'mi_app:producto_lista' %}" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                       <p>Productos</p>
                        </a>
                      </li>

                      <!--modulo compras-->
                      <li class="nav-item">
                      <a href="{% url 'mi_app:compras_lista' %}" class="nav-link">
                      <i class="nav-icon bi bi-circle"></i>
                       <p>Compras</p>
                        </a>
                      </li>

                </ul>
              </li>
              <li class="nav-item">

                
              
              
                      <li class="nav-item">
                        <a href="../examples/login-v2.html" class="nav-link">
                          <i class="nav-icon bi bi-circle"></i>
                          <p>Login</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="../examples/register-v2.html" class="nav-link">
                          <i class="nav-icon bi bi-circle"></i>
                          <p>Register</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  
            <!--end::Sidebar Menu-->
          </nav>
        </div>
        <!--end::Sidebar Wrapper-->
      </aside>