{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Instrucciones Enviadas</title>
    <link rel="stylesheet" href="{% static 'fontawesome-free-7.0.1-web/css/all.min.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="color-scheme" content="light dark" />
    <link rel="preload" href="{% static 'AdminLTE/dist/css/adminlte.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'AdminLTE/dist/css/adminlte.css' %}" />
    <link rel="stylesheet" href="{% static 'AdminLTE/dist/css/bootstrap.css' %}" />

    <link rel="stylesheet" href="{% static 'login/css/custom.css' %}" />
  </head>
  <body class="login-page bg-dark">
    <div id="slideshow-background">
    </div>
    <div class="login-box">
      
      <div class="card">
        <div class="login-logo">
        <a data-bs-theme="dark"><b>Correo Enviado</b>@</a>
      </div>
        <div class="card-body login-card-body text-center">
          <h4 class="text-success mb-3">✅ ¡Instrucciones Enviadas!</h4>
          <p class="login-box-msg">
            Hemos enviado por correo electrónico las instrucciones para establecer tu contraseña.
          </p>
          <p class="text-muted">
            Si no lo recibes en unos minutos, por favor revisa tu carpeta de **Spam**.
          </p>

          <p class="mt-3 mb-1">
            <a href="{% url 'login:login' %}">Volver al inicio de sesión</a>
          </p>
        </div>
        </div>
    </div>
    </body>
</html>