{% extends "listar.html" %}

{% block titulo %}
    <h1 class="text-center">Gestión De Pedidos</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{{crear_url}}" class="btn btn-primary btn-xs"><i class="fas fa-plus"></i> Agregar</a>
<a href="{% url 'mi_app:pdf_pedidos' %}" class="btn btn-danger"><i class="fas fa-file-pdf"></i> Reporte</a>
{% endblock %}

{% block columnas %}
    <th>ID</th>
    <th>Cliente</th>
    <th>Producto</th>
    <th>Cant.</th>
    <th>Total</th>
    <th>Lugar de Entrega</th> <th>Estado</th>
    <th>Acciones</th>
{% endblock %}

{% block iterar %}
    {% for a in object_list %}
        <tr>
            <td>{{ a.id }}</td>
            <td>
                <b>{{ a.id_cliente.nombre_completo }}</b><br>
                <small class="text-muted">{{ a.email }}</small>
            </td>
            <td>{{ a.id_producto.id_presentacion.nombre }}</td>
            <td>{{ a.cantidad }}</td>
            <td>$ {{ a.valor_total|floatformat:0 }}</td>
            
            <td>
                {% if a.direccion_entrega %}
                    <i class="fas fa-map-marker-alt text-danger"></i> 
                    {{ a.direccion_entrega }}<br>
                    <small class="text-muted">{{ a.municipio_ciudad_entrega }}, {{ a.departamento_entrega }}</small>
                {% else %}
                    <span class="text-warning small italic">Dirección no especificada</span>
                {% endif %}
            </td>

            <td>
                {% if a.estado_pedido == 'PEDIDO EXITOSO' %}
                    <span class="badge bg-success">Exitoso</span>
                {% else %}
                    <span class="badge bg-warning text-dark">{{ a.estado_pedido }}</span>
                {% endif %}
            </td>

            <td>
                <div class="btn-group">
                    <a href="{% url 'mi_app:pedido_editar' a.id %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'mi_app:pedido_eliminar' a.id %}" class="btn btn-danger btn-sm" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}