{% extends 'principalclientes/body.html' %}
{% load static %}
{% block content %}


<div class="carrusel-container">
    <div class="carrusel-slides" id="slides-wrapper">
        <div class="slide">
            <img src="{% static 'img/capacitaciones.png' %}" alt="banner 1">
            <div class="slide-content">
                <h1>BLACK DAYS</h1>
                <p>Hasta 55% de descuento en capacitaciones</p>
            </div>
        </div>
        
        <div class="slide">
            <img src="{% static 'img/altura.jpg' %}" alt="banner 2">
            <div class="slide-content">
                <h1>ALTURAS</h1>
                <p>Certifícate con los expertos</p>
            </div>
        </div>
        
        <div class="slide">
            <img src="{% static 'img/ocupacional.jpg' %}" alt="Banner 3">
            <div class="slide-content">
                <h1>SEGURIDAD</h1>
                <p>Todo en dotación ocupacional</p>
            </div>
        </div>
    </div>
    
    <button class="carrusel-btn prev" onclick="moverSlide(-1)">&#10094;</button>
    <button class="carrusel-btn next" onclick="moverSlide(1)">&#10095;</button>
</div>
  
<h1 class="titulo">Te ofrecemos</h1>

<section class="productos">
    <a href="{% url 'mi_app:productos_clientes' %}" class="card-link">
        <div class="producto">
            <img src="{% static 'img/ocupacional.jpg' %}" alt="Ver Productos">
            <h3>Productos</h3>
            <p>Ver Catálogo <i class="fas fa-arrow-right ms-2"></i></p>
        </div>
    </a>

    <a href="{% url 'mi_app:catalogo_servicios' %}" class="card-link">
        <div class="producto">
            <img src="{% static 'img/capacitaconimg.png' %}" alt="Ver Servicios">
            <h3>Servicios</h3>
            <p>Ver Cursos <i class="fas fa-arrow-right ms-2"></i></p>
        </div>
    </a>
</section>

<br><br>
{% endblock %}