{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soluciones Sara | Mi Tienda</title>
    <link rel="icon" type="image/png" href="{% static 'img/logosara.png' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css_clientes/global_vars.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/headercli.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/carrito_compras.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/contenido.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/listar_producto.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/listar_servicios.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/mi_perfil.css' %}">
</head>

<body>
    {% include "principalclientes/header.html" %}

    <main class="contenido-principal">
        {% block body %}{% endblock %}
    </main>

    {% include "principalclientes/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="{% static 'js_clientes/global_scripts.js' %}"></script>
    
    <script src="{% static 'js_clientes/contenido.js' %}"></script>
   <!-- <script src="{% static 'js_clientes/header.js' %}"></script>-->
    <script src="{% static 'js_clientes/listar_productos.js' %}"></script>
    <script src="{% static 'js_clientes/detalle_producto.js' %}"></script>
    <script src="{% static 'js_clientes/carrito_compras.js' %}"></script>
    <script src="{% static 'js/mensajesBotones(tooltips).js' %}"></script>
    <script src="{% static 'js/siena_widgte_accesibilidad.js' %}"></script>
    <script src="{% static 'js/siena-config.js' %}"></script>
</body>
</html>