{%load static %}
<!DOCTYPE html>
<html lang="es">
<head>
   <!--link para iconos de bootstrap--> 
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
         <!--link para los estilos de la pagina-->
   <link rel="stylesheet" href="{% static 'css/stilospagClientes.css' %}">
   <link rel="stylesheet" href="{% static 'css/listar_producto.css' %}">
   <link rel="stylesheet" href="{% static 'css/servicios.css' %}">
   <link rel="stylesheet" href="{% static 'css/contenidoServicio.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}" />
   <!--stilos de carro de compras-->
   <link rel="stylesheet" href="{% static 'css/carrito_compras.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <meta charset="UTF-8">    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'img/logosara.png' %}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!--swet alerta para los mensajes-->
       <!--link para los estilos de la pagina-->
    <link rel="stylesheet" href="{% static 'css_clientes/carrito_compras.css' %}">  <!--stilos de carro de compras-->
    <link rel="stylesheet" href="{% static 'css_clientes/contenido.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/listar_producto.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/listar_servicios.css' %}">
    <link rel="stylesheet" href="{% static 'css_clientes/headercli.css' %}"> <!--estilos header-->
    <link rel="stylesheet" href="{% static 'css_clientes/footer.css' %}"> <!--estilos footer-->
   

      <!--iconos del widgets-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--ruta para scrip de la pagina clientes-->
    
   
       <script src="{% static 'js_clientes/contenido.js' %}"></script> 
       <script src="{% static 'js_clientes/header.js' %}"></script> 
       <script src="{% static 'js_clientes/listar_productos.js' %}"></script> 
        <script src="{% static 'js_clientes/detalle_producto.js' %}"></script>


  <title>Mi Tienda</title>

<style>
  .titulo {
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    color: #333;
  }
    
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.contenido-principal {
    flex: 1;   /* ESTE es el que empuja el footer hacia abajo */
    display: block;
}


  
</style>
 
</head>
<body>
{%include "principalclientes/header.html"%}

  <main class="contenido-principal">
        {% block body %}{% endblock %}
    </main>

{%include "principalclientes/footer.html"%}
  <script src="{% static 'js/scrippagClientes.js' %}"></script>

</body>
 <!--Scrip para el widget de acceseibilidad-->
     <script src="{% static 'js/siena_widgte_accesibilidad.js' %}"></script>
   <script src="{% static 'js/siena-config.js' %}"></script>
</html>