<html lang="es">

{% extends "listar.html" %}

{% block titulo %}
        <h1 class="text-center">Gestión De Clientes</h1>
{% endblock titulo %}

{% block agregar %}
<a href="{% url 'mi_app:cliente_crear' %}" class="btn btn-primary btn-xs">
    <i class="fas fa-plus"></i> Agregar
</a>
<a href="{% url 'mi_app:pdf_clientes' %}" class="btn btn-danger">
    <i class="fas fa-file-pdf"></i> Descargar Reporte
</a>
{% endblock %}

{% block columnas %}

                <th>N°</th>
                <th>Nombre Completo</th>
                <th>Usuario</th>
                <th>Número Telefónico</th>
                <th>Documento</th>
                <th>Correo Electrónico</th>
                <th>Fecha Registro</th>
                <th>Acciones</th>
{% endblock %}

{% block iterar %}

                {% for a in object_list %}                    
                      <tr>
                        <td>{{ a.id }}</td>
                        <td>{{ a.nombre_completo }}</td>
                        <td>{{ a.user.username }}</td>
                        <td>{{ a.numero_telefonico|default:"N/A" }}</td>
                        <td>{{ a.numero_documento }}</td>
                        <td>{{ a.correo_electronico }}</td>
                        <td>{{ a.fecha_registro|date:"d/m/Y" }}</td>
                        <td>
                              <a href="{% url 'mi_app:cliente_editar' a.id %}" 
                                 class="btn btn-warning btn-sm" 
                                 data-bs-toggle="tooltip" 
                                 title="Editar">
                                 <i class="bi bi-pen-fill"></i>
                              </a>
                              <a href="{% url 'mi_app:cliente_eliminar' a.id %}" 
                                 class="btn btn-danger btn-sm" 
                                 data-bs-toggle="tooltip" 
                                 title="Eliminar">
                                 <i class="bi bi-trash3-fill"></i>
                              </a>
                        </td>
                    </tr>
                
                {% endfor %}

<!-- Mensajes con SweetAlert -->


{% endblock %}